* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #101C48;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  text-align: center;
  color: white;
  width: 300px;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: space-between;
}

.top-text {
  font-size: 20px;
  margin-bottom: 20px;
}

.waveform {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mic-section {
  margin-top: 20px;
}

.mic-icon {
  font-size: 40px;
  background-color: #101C48;
  border: 2px solid #7358FF;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mic-icon:hover {
  background-color: #1a2a5e;
}

.control-buttons {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 20px;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.control:hover {
  opacity: 0.8;
}

.control.play {
  background-color: #4A4A4A;
}

.control.cancel {
  background-color: #FF5C5C;
}

.control i {
  font-size: 24px;
  color: white;
}